{
  "openapi": "3.0.4",
  "info": {
    "title": "Merged OpenAPI",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://bridge.polymarket.com",
      "description": "Polymarket Bridge API"
    },
    {
      "url": "https://data-api.polymarket.com",
      "description": "Relative server (same host)"
    },
    {
      "url": "https://api.perpetuals.polymarket.com",
      "description": "Production Perps HTTP API"
    },
    {
      "url": "https://clob.polymarket.com",
      "description": "Production CLOB API"
    },
    {
      "url": "https://clob-staging.polymarket.com",
      "description": "Staging CLOB API"
    },
    {
      "url": "https://combos-rfq-api.polymarket.com",
      "description": "Production combinatorial RFQ API"
    },
    {
      "url": "https://gamma-api.polymarket.com",
      "description": "Polymarket Gamma API Production Server"
    },
    {
      "url": "https://relayer-v2.polymarket.com",
      "description": "Polymarket Relayer API"
    }
  ],
  "paths": {
    "/bridge/supported-assets": {
      "get": {
        "tags": [
          "Bridge"
        ],
        "summary": "Get supported assets",
        "operationId": "BridgeGetSupportedAssets",
        "responses": {
          "200": {
            "description": "Successfully retrieved supported assets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupportedAssetsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bridge/quote": {
      "post": {
        "tags": [
          "Bridge"
        ],
        "summary": "Get a quote",
        "operationId": "BridgePostQuote",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuoteRequest"
              },
              "example": {
                "fromAmountBaseUnit": "10000000",
                "fromChainId": "137",
                "fromTokenAddress": "0x3c499c542cEF5E3811e1192ce70d8cC03d5c3359",
                "recipientAddress": "0x17eC161f126e82A8ba337f4022d574DBEaFef575",
                "toChainId": "137",
                "toTokenAddress": "0xC011a7E12a19f7B1f670d46F03B03f3342E82DFB"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Quote retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteResponse"
                },
                "example": {
                  "estCheckoutTimeMs": 25000,
                  "estFeeBreakdown": {
                    "appFeeLabel": "Fun.xyz fee",
                    "appFeePercent": 0,
                    "appFeeUsd": 0,
                    "fillCostPercent": 0,
                    "fillCostUsd": 0,
                    "gasUsd": 0.003854,
                    "maxSlippage": 0,
                    "minReceived": 14.488305,
                    "swapImpact": 0,
                    "swapImpactUsd": 0,
                    "totalImpact": 0,
                    "totalImpactUsd": 0
                  },
                  "estInputUsd": 14.488305,
                  "estOutputUsd": 14.488305,
                  "estToTokenBaseUnit": "14491203",
                  "quoteId": "0x00c34ba467184b0146406d62b0e60aaa24ed52460bd456222b6155a0d9de0ad5"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Missing required field",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "missingFromAmount": {
                    "value": {
                      "error": "fromAmountBaseUnit is required"
                    }
                  },
                  "missingFromChainId": {
                    "value": {
                      "error": "fromChainId is required"
                    }
                  },
                  "missingFromTokenAddress": {
                    "value": {
                      "error": "fromTokenAddress is required"
                    }
                  },
                  "missingRecipientAddress": {
                    "value": {
                      "error": "recipientAddress is required"
                    }
                  },
                  "missingToChainId": {
                    "value": {
                      "error": "toChainId is required"
                    }
                  },
                  "missingToTokenAddress": {
                    "value": {
                      "error": "toTokenAddress is required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "cannot get quote"
                }
              }
            }
          }
        }
      }
    },
    "/bridge/deposit": {
      "post": {
        "tags": [
          "Bridge"
        ],
        "summary": "Create bridge addresses",
        "operationId": "BridgePostDeposit",
        "parameters": [
          {
            "$ref": "#/components/parameters/BuilderCodeHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DepositRequest"
              },
              "example": {
                "address": "0x56687bf447db6ffa42ffe2204a05edaa20f55839"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Bridge addresses created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepositResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid address, request body, or malformed X-Builder-Code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bridge/withdraw": {
      "post": {
        "tags": [
          "Bridge"
        ],
        "summary": "Create withdrawal addresses",
        "operationId": "BridgePostWithdraw",
        "parameters": [
          {
            "$ref": "#/components/parameters/BuilderCodeHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WithdrawalRequest"
              },
              "example": {
                "address": "0x9156dd10bea4c8d7e2d591b633d1694b1d764756",
                "toChainId": "1",
                "toTokenAddress": "0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48",
                "recipientAddr": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Withdrawal addresses created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepositResponse"
                },
                "example": {
                  "address": {
                    "evm": "0x23566f8b2E82aDfCf01846E54899d110e97AC053",
                    "svm": "CrvTBvzryYxBHbWu2TiQpcqD5M7Le7iBKzVmEj3f36Jb",
                    "btc": "bc1q8eau83qffxcj8ht4hsjdza3lha9r3egfqysj3g"
                  },
                  "note": "Send funds to these addresses to bridge to your destination chain and token."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid/missing parameters or malformed X-Builder-Code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bridge/status/{address}": {
      "get": {
        "tags": [
          "Bridge"
        ],
        "summary": "Get transaction status",
        "description": "Returns the deposits and withdrawals seen at a bridge address, newest first. Responses are cursor-paginated: each request returns one page plus a \u0060nextCursor\u0060. To read the full history, pass each \u0060nextCursor\u0060 back as \u0060cursor\u0060 until it comes back null. To track only recent activity, keep requesting the first page without a cursor.\n",
        "operationId": "BridgeGetStatusAddress",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "description": "The bridge address to query for transaction status, taken from the \u0060/deposit\u0060 or \u0060/withdraw\u0060 response. EVM, Solana, Tron, and Bitcoin address formats are supported. EVM addresses are normalized before the request is forwarded upstream.\n",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "EXoZue2avJae1d45B3fVw2unhkrtToSYQqHtHgfZ2cbE"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of transactions per page. A page may contain fewer transactions than requested and still have a following page.\n",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "default": 50
            },
            "example": 100
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque continuation token returned as \u0060nextCursor\u0060 by the previous response. Omit it to request the first page. URL-encode it, since cursors can contain characters such as \u0060\u002B\u0060, \u0060/\u0060, and \u0060=\u0060. Invalid, tampered, or cross-address tokens return 400; restart the walk without a cursor when that happens.\n",
            "schema": {
              "type": "string"
            },
            "example": "eyJsYXN0SWQiOiI0MiJ9"
          },
          {
            "name": "paginate",
            "in": "query",
            "description": "Compatibility parameter forwarded upstream for existing integrations. Pagination applies whether or not it is sent, so new integrations should omit it and use \u0060cursor\u0060 and \u0060limit\u0060 alone. When sent, the only supported value is \u0060true\u0060.\n",
            "schema": {
              "$ref": "#/components/schemas/TrueValuePaginate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved transaction status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionStatusResponse"
                },
                "example": {
                  "transactions": [
                    {
                      "fromChainId": "1151111081099710",
                      "fromTokenAddress": "11111111111111111111111111111111",
                      "fromAmountBaseUnit": "13566635",
                      "toChainId": "137",
                      "toTokenAddress": "0xC011a7E12a19f7B1f670d46F03B03f3342E82DFB",
                      "status": "DEPOSIT_DETECTED"
                    },
                    {
                      "fromChainId": "1151111081099710",
                      "fromTokenAddress": "11111111111111111111111111111111",
                      "fromAmountBaseUnit": "13400000",
                      "toChainId": "137",
                      "toTokenAddress": "0xC011a7E12a19f7B1f670d46F03B03f3342E82DFB",
                      "createdTimeMs": 1757646914535,
                      "status": "PROCESSING"
                    },
                    {
                      "fromChainId": "1151111081099710",
                      "fromTokenAddress": "11111111111111111111111111111111",
                      "fromAmountBaseUnit": "13500152",
                      "toChainId": "137",
                      "toTokenAddress": "0xC011a7E12a19f7B1f670d46F03B03f3342E82DFB",
                      "txHash": "3atr19NAiNCYt24RHM1WnzZp47RXskpTDzspJoCBBaMFwUB8fk37hFkxz35P5UEnnmWz21rb2t5wJ8pq3EE2XnxU",
                      "createdTimeMs": 1757531217339,
                      "status": "COMPLETED"
                    }
                  ],
                  "nextCursor": "eyJsYXN0SWQiOiI0MiJ9"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Missing or invalid address, limit, or cursor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "missingAddress": {
                    "value": {
                      "error": "address is required"
                    }
                  },
                  "invalidAddress": {
                    "value": {
                      "error": "invalid address"
                    }
                  },
                  "invalidLimit": {
                    "value": {
                      "error": "limit must be an integer between 1 and 100"
                    }
                  },
                  "rejectedUpstream": {
                    "summary": "Rejected by the bridge provider, most often a stale or malformed cursor",
                    "value": {
                      "error": "invalid request"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "cannot get transaction status"
                }
              }
            }
          }
        }
      }
    },
    "/data": {
      "get": {
        "tags": [
          "Data API Status"
        ],
        "summary": "Data API Health check",
        "operationId": "DataGetDataApiHealth",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/v1/accounting/snapshot": {
      "get": {
        "tags": [
          "Misc"
        ],
        "summary": "Download an accounting snapshot (ZIP of CSVs)",
        "operationId": "DataGetV1AccountingSnapshot",
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "description": "User address (0x-prefixed)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ZIP file containing \u0060positions.csv\u0060 and \u0060equity.csv\u0060.",
            "content": {
              "application/zip": {
                "schema": {
                  "$ref": "#/components/schemas/DataGetV1AccountingSnapshot200ZipResponseSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/v1/approvals": {
      "get": {
        "tags": [
          "Misc"
        ],
        "summary": "Get token approval state for a wallet",
        "description": "Reports whether a wallet has granted the token approvals Polymarket needs, so a client can prompt for the missing ones instead of reading each allowance onchain. Every tracked token and spender pair is returned, including pairs the wallet has never approved.",
        "operationId": "DataGetV1Approvals",
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "description": "User address (0x-prefixed)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/positions": {
      "get": {
        "tags": [
          "Core"
        ],
        "summary": "Get current positions for a user",
        "operationId": "DataGetPositions",
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "description": "User address (required)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "market",
            "in": "query",
            "description": "Comma-separated list of condition IDs. Mutually exclusive with eventId.",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "pattern": "^0x[a-fA-F0-9]{64}$",
                "type": "string",
                "description": "0x-prefixed 64-hex string"
              }
            }
          },
          {
            "name": "eventId",
            "in": "query",
            "description": "Comma-separated list of event IDs. Mutually exclusive with market.",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "minimum": 1,
                "type": "integer"
              }
            }
          },
          {
            "name": "sizeThreshold",
            "in": "query",
            "schema": {
              "minimum": 0,
              "type": "number",
              "default": 1
            }
          },
          {
            "name": "redeemable",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "mergeable",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeArchived",
            "in": "query",
            "description": "Include positions in archived markets that are still active. Archived positions are excluded by default.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "maximum": 500,
              "minimum": 0,
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "maximum": 10000,
              "minimum": 0,
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/DataGetPositionsSortByParameter"
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/DataGetPositionsSortDirectionParameter"
            }
          },
          {
            "name": "title",
            "in": "query",
            "schema": {
              "maxLength": 100,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataGetPositions200ResponseSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/trades": {
      "get": {
        "tags": [
          "Core"
        ],
        "summary": "Get trades for a user or markets",
        "operationId": "DataGetTrades",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Page size. Values above the maximum are clamped to 10000.",
            "schema": {
              "maximum": 10000,
              "minimum": 0,
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Starting index for pagination. Requests past the cap are rejected with a 400 (never silently clamped). To read history deeper than offset 10000, page inside \u0060start\u0060/\u0060end\u0060 windows \u2014 each window has its own offset budget.",
            "schema": {
              "maximum": 10000,
              "minimum": 0,
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "takerOnly",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "filterType",
            "in": "query",
            "description": "Must be provided together with filterAmount.",
            "schema": {
              "$ref": "#/components/schemas/DataGetTradesFilterTypeParameter"
            }
          },
          {
            "name": "filterAmount",
            "in": "query",
            "description": "Must be provided together with filterType.",
            "schema": {
              "minimum": 0,
              "type": "number"
            }
          },
          {
            "name": "market",
            "in": "query",
            "description": "Comma-separated list of condition IDs. Mutually exclusive with eventId.",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "pattern": "^0x[a-fA-F0-9]{64}$",
                "type": "string",
                "description": "0x-prefixed 64-hex string"
              }
            }
          },
          {
            "name": "eventId",
            "in": "query",
            "description": "Comma-separated list of event IDs. Mutually exclusive with market.",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "minimum": 1,
                "type": "integer"
              }
            }
          },
          {
            "name": "user",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "side",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/DataGetTradesSideParameter"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Lower-bound timestamp (epoch seconds) for the trade window. Omit or pass \u00600\u0060 for the default window (most recent ~3 years); pass a positive epoch (e.g. \u00601\u0060) to retrieve full history on user-scoped requests. Market/event-scoped requests keep the ~3-year floor \u2014 \u0060start\u0060 can only narrow their window, not extend it.",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "Upper-bound timestamp (epoch seconds) for the trade window. Omit for the default (current time); rows newer than \u0060end\u0060 are excluded.",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataGetTrades200ResponseSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/activity": {
      "get": {
        "tags": [
          "Core"
        ],
        "summary": "Get user activity",
        "operationId": "DataGetActivity",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Page size. Values above the maximum are clamped to 500.",
            "schema": {
              "maximum": 500,
              "minimum": 0,
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Starting index for pagination. Requests past the cap are rejected with a 400 (never silently clamped). To read history deeper than offset 5000, page inside \u0060start\u0060/\u0060end\u0060 windows \u2014 each window has its own offset budget.",
            "schema": {
              "maximum": 5000,
              "minimum": 0,
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "user",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "market",
            "in": "query",
            "description": "Comma-separated list of condition IDs. Mutually exclusive with eventId.",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "pattern": "^0x[a-fA-F0-9]{64}$",
                "type": "string",
                "description": "0x-prefixed 64-hex string"
              }
            }
          },
          {
            "name": "eventId",
            "in": "query",
            "description": "Comma-separated list of event IDs. Mutually exclusive with market.",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "minimum": 1,
                "type": "integer"
              }
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Comma-separated list of activity types to include. DEPOSIT and WITHDRAWAL records also require \u0060excludeDepositsWithdrawals=false\u0060.",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/DataGetActivityTypeParameterItem"
              }
            }
          },
          {
            "name": "excludeDepositsWithdrawals",
            "in": "query",
            "description": "Excludes deposit and withdrawal records. The default \u0060true\u0060 applies even when \u0060type\u0060 requests those records, so to get deposits and withdrawals you must pass \u0060false\u0060.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Lower-bound timestamp (epoch seconds) for the activity window. Omit or pass \u00600\u0060 for the default window (most recent ~3 years); pass a positive epoch (e.g. \u00601\u0060) to retrieve full history. With \u0060sortDirection=ASC\u0060, omitting \u0060start\u0060 already reads from the beginning of the account\u0027s history (no default window).",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "Upper-bound timestamp (epoch seconds) for the activity window. Omit for the default (current time); rows newer than \u0060end\u0060 are excluded.",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/DataGetActivitySortByParameter"
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "\u0060DESC\u0060 (default) returns the newest rows first; \u0060ASC\u0060 the oldest first. Both orders are stable \u2014 the same query returns the same rows at any \u0060limit\u0060/\u0060offset\u0060, so pages compose without gaps or repeats.",
            "schema": {
              "$ref": "#/components/schemas/DataGetActivitySortDirectionParameter"
            }
          },
          {
            "name": "side",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/DataGetActivitySideParameter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataGetActivity200ResponseSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/v1/activity/combos": {
      "get": {
        "tags": [
          "Core"
        ],
        "summary": "Get user combo activity",
        "description": "Combo lifecycle and redeem events (split / merge / convert / compress / wrap / unwrap / redeem) for a user, with per-leg breakdown. The combo counterpart to /activity trade rows. Also available at /v1/data/user/{address}/activity/combos (address from the path).",
        "operationId": "DataGetV1ActivityCombos",
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "market_id",
            "in": "query",
            "description": "Comma-separated combo_condition_id values to filter to specific combos. These equal the market_id of isCombo rows on /activity. Omit for all of the user\u0027s combo activity.",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "pattern": "^0x[a-fA-F0-9]{62}$",
                "type": "string",
                "description": "Combo condition ID (0x-prefixed, 62 hex chars / bytes31). Equals the market_id (unified) / conditionId (legacy) of isCombo rows on /activity."
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "maximum": 500,
              "minimum": 0,
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "maximum": 10000,
              "minimum": 0,
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque continuation token from a previous response\u0027s pagination.next_cursor. When present it supersedes offset (which is ignored). Invalid, tampered, or cross-endpoint tokens return 400.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CombosActivityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/v1/positions/combos": {
      "get": {
        "tags": [
          "Core"
        ],
        "summary": "Get user combo positions",
        "description": "Combinatorial (multi-market) positions held by a user, with per-leg breakdown. Also available at /v1/data/user/{address}/positions/combos (address from the path). Open positions with shares_balance below 0.001 are omitted (dust floor \u2014 e.g. sub-0.001 remainders left by \u0022sell all\u0022 cashouts); resolved positions are served regardless of balance.",
        "operationId": "DataGetV1PositionsCombos",
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "One or more statuses, comma-separated (e.g. status=RESOLVED_WIN,RESOLVED_PARTIAL,RESOLVED_LOSS). Values are case-insensitive; any invalid member is a 400. Omit for the default listing (open positions plus resolved positions with a recorded resolution).",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/DataGetV1PositionsCombosStatusParameterItem"
              }
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/DataGetV1PositionsCombosSortParameter"
            }
          },
          {
            "name": "market_id",
            "in": "query",
            "description": "Comma-separated combo_condition_id values to filter to specific combos. These equal the market_id of isCombo rows on /activity. Omit for all of the user\u0027s combos.",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "pattern": "^0x[a-fA-F0-9]{62}$",
                "type": "string",
                "description": "Combo condition ID (0x-prefixed, 62 hex chars / bytes31). Equals the market_id (unified) / conditionId (legacy) of isCombo rows on /activity."
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "maximum": 1000,
              "minimum": 0,
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "maximum": 100000,
              "minimum": 0,
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "updatedAfter",
            "in": "query",
            "description": "Incremental-sync watermark (epoch seconds, inclusive): only rows whose updated_at is at or after this time. Positions mutate on resolution and redemption, so this catches changes a creation-time filter cannot. In sync mode (updatedAfter/updatedBefore/sort=updated_asc) every live row is returned regardless of balance, and the effective upper bound is clamped ~90s behind now (commit-visibility safety lag) \u2014 very recent rows appear on the next poll. Rows at the boundary may re-deliver: upsert by (combo_condition_id, combo_position_id).",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "updatedBefore",
            "in": "query",
            "description": "Optional upper bound (epoch seconds, inclusive) for updated_at; clamped to the safety lag. Must be \u003E= updatedAfter.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque continuation token from a previous response\u0027s pagination.next_cursor. When present it supersedes offset (which is ignored). Invalid, tampered, or cross-endpoint tokens return 400.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CombosResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/holders": {
      "get": {
        "tags": [
          "Core"
        ],
        "summary": "Get top holders for markets",
        "operationId": "DataGetHolders",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of holders to return per token. Capped at 20.",
            "schema": {
              "maximum": 20,
              "minimum": 0,
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "market",
            "in": "query",
            "description": "Comma-separated list of condition IDs.",
            "required": true,
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "pattern": "^0x[a-fA-F0-9]{64}$",
                "type": "string",
                "description": "0x-prefixed 64-hex string"
              }
            }
          },
          {
            "name": "minBalance",
            "in": "query",
            "schema": {
              "maximum": 999999,
              "minimum": 0,
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataGetHolders200ResponseSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/traded": {
      "get": {
        "tags": [
          "Misc"
        ],
        "summary": "Get total markets a user has traded",
        "operationId": "DataGetTraded",
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Traded"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/revisions": {
      "get": {
        "tags": [
          "Misc"
        ],
        "summary": "Get moderated revisions for a question",
        "operationId": "DataGetRevisions",
        "parameters": [
          {
            "name": "questionID",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "maximum": 500,
              "minimum": 0,
              "type": "integer",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataGetRevisions200ResponseSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/value": {
      "get": {
        "tags": [
          "Core"
        ],
        "summary": "Get total value of a user\u0027s positions",
        "operationId": "DataGetValue",
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "market",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "pattern": "^0x[a-fA-F0-9]{64}$",
                "type": "string",
                "description": "0x-prefixed 64-hex string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataGetValue200ResponseSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/oi": {
      "get": {
        "tags": [
          "Misc"
        ],
        "summary": "Get open interest",
        "operationId": "DataGetOi",
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "pattern": "^0x[a-fA-F0-9]{64}$",
                "type": "string",
                "description": "0x-prefixed 64-hex string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataGetOi200ResponseSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/live-volume": {
      "get": {
        "tags": [
          "Misc"
        ],
        "summary": "Get live volume for an event",
        "operationId": "DataGetLiveVolume",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataGetLiveVolume200ResponseSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/closed-positions": {
      "get": {
        "tags": [
          "Core"
        ],
        "summary": "Get closed positions for a user",
        "operationId": "DataGetClosedPositions",
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "description": "The address of the user in question",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "market",
            "in": "query",
            "description": "The conditionId of the market in question. Supports multiple csv separated values. Cannot be used with the eventId param.",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "pattern": "^0x[a-fA-F0-9]{64}$",
                "type": "string",
                "description": "0x-prefixed 64-hex string"
              }
            }
          },
          {
            "name": "title",
            "in": "query",
            "description": "Filter by market title",
            "schema": {
              "maxLength": 100,
              "type": "string"
            }
          },
          {
            "name": "eventId",
            "in": "query",
            "description": "The event id of the event in question. Supports multiple csv separated values. Returns positions for all markets for those event ids. Cannot be used with the market param.",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "minimum": 1,
                "type": "integer"
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The max number of positions to return",
            "schema": {
              "maximum": 50,
              "minimum": 0,
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The starting index for pagination",
            "schema": {
              "maximum": 100000,
              "minimum": 0,
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "The sort criteria",
            "schema": {
              "$ref": "#/components/schemas/DataGetClosedPositionsSortByParameter"
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "The sort direction",
            "schema": {
              "$ref": "#/components/schemas/DataGetClosedPositionsSortDirectionParameter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataGetClosedPositions200ResponseSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/other": {
      "get": {
        "tags": [
          "Misc"
        ],
        "summary": "Get \u0022Other\u0022 size for an augmented neg risk event and user",
        "operationId": "DataGetOther",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "user",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataGetOther200ResponseSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/v1/market-positions": {
      "get": {
        "tags": [
          "Core"
        ],
        "summary": "Get positions for a market",
        "operationId": "DataGetV1MarketPositions",
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "description": "The condition ID of the market to query positions for",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user",
            "in": "query",
            "description": "Filter to a single user by proxy wallet address",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter positions by status.\n- \u0060OPEN\u0060 \u2014 Only positions with size \u003E 0.01\n- \u0060CLOSED\u0060 \u2014 Only positions with size \u003C= 0.01\n- \u0060ALL\u0060 \u2014 All positions regardless of size\n",
            "schema": {
              "$ref": "#/components/schemas/DataGetV1MarketPositionsStatusParameter"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sort positions by:\n- \u0060TOKENS\u0060 \u2014 Position size (number of tokens)\n- \u0060CASH_PNL\u0060 \u2014 Unrealized cash PnL\n- \u0060REALIZED_PNL\u0060 \u2014 Realized PnL\n- \u0060TOTAL_PNL\u0060 \u2014 Total PnL (cash_pnl \u002B realized_pnl)\n",
            "schema": {
              "$ref": "#/components/schemas/DataGetV1MarketPositionsSortByParameter"
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/DataGetV1MarketPositionsSortDirectionParameter"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max number of positions to return per outcome token",
            "schema": {
              "maximum": 500,
              "minimum": 0,
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset per outcome token",
            "schema": {
              "maximum": 10000,
              "minimum": 0,
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataGetV1MarketPositions200ResponseSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/v1/builders/leaderboard": {
      "get": {
        "tags": [
          "Builders"
        ],
        "summary": "Get aggregated builder leaderboard",
        "operationId": "DataGetV1BuildersLeaderboard",
        "parameters": [
          {
            "name": "timePeriod",
            "in": "query",
            "description": "The time period to aggregate results over.\n",
            "schema": {
              "$ref": "#/components/schemas/DataGetV1BuildersLeaderboardTimePeriodParameter"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of builders to return",
            "schema": {
              "maximum": 50,
              "minimum": 0,
              "type": "integer",
              "default": 25
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Starting index for pagination",
            "schema": {
              "maximum": 1000,
              "minimum": 0,
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataGetV1BuildersLeaderboard200ResponseSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/v1/builders/volume": {
      "get": {
        "tags": [
          "Builders"
        ],
        "summary": "Get daily builder volume time-series",
        "operationId": "DataGetV1BuildersVolume",
        "parameters": [
          {
            "name": "timePeriod",
            "in": "query",
            "description": "The time period to fetch daily records for.\n",
            "schema": {
              "$ref": "#/components/schemas/DataGetV1BuildersVolumeTimePeriodParameter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success - Returns array of daily volume records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataGetV1BuildersVolume200ResponseSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/v1/leaderboard": {
      "get": {
        "tags": [
          "Core"
        ],
        "summary": "Get trader leaderboard rankings",
        "operationId": "DataGetV1Leaderboard",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "description": "Market category for the leaderboard",
            "schema": {
              "$ref": "#/components/schemas/DataGetV1LeaderboardCategoryParameter"
            }
          },
          {
            "name": "timePeriod",
            "in": "query",
            "description": "Time period for leaderboard results",
            "schema": {
              "$ref": "#/components/schemas/DataGetV1LeaderboardTimePeriodParameter"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Leaderboard ordering criteria",
            "schema": {
              "$ref": "#/components/schemas/DataGetV1LeaderboardOrderByParameter"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max number of leaderboard traders to return",
            "schema": {
              "maximum": 50,
              "minimum": 1,
              "type": "integer",
              "default": 25
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Starting index for pagination",
            "schema": {
              "maximum": 1000,
              "minimum": 0,
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "user",
            "in": "query",
            "description": "Limit leaderboard to a single user by address",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userName",
            "in": "query",
            "description": "Limit leaderboard to a single username",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataGetV1Leaderboard200ResponseSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/perps/v1/info/ping": {
      "get": {
        "summary": "Test Connection",
        "description": "Test connection to the server.\n",
        "operationId": "PerpsGetPing",
        "responses": {
          "200": {
            "description": "Successful ping response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PerpsGetPing200Response"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        },
        "security": []
      }
    },
    "/perps/v1/info/time": {
      "get": {
        "summary": "Get Server Time",
        "description": "Get server time.\n",
        "operationId": "PerpsGetTime",
        "responses": {
          "200": {
            "description": "Successful time response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Time2"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        },
        "security": []
      }
    },
    "/perps/v1/info/exchange": {
      "get": {
        "summary": "Get Exchange Info",
        "description": "Get exchange information.\n",
        "operationId": "PerpsGetExchange",
        "responses": {
          "200": {
            "description": "Successful exchange information response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Exchange"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        },
        "security": []
      }
    },
    "/perps/v1/info/assets": {
      "get": {
        "summary": "Get Collateral Assets",
        "description": "Get a list of collateral assets.\n",
        "operationId": "PerpsGetAssets",
        "responses": {
          "200": {
            "description": "Assets response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PerpsGetAssets200ResponseSchema"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        },
        "security": []
      }
    },
    "/perps/v1/info/instruments": {
      "get": {
        "summary": "Get Instruments",
        "description": "Get all instruments.",
        "operationId": "PerpsGetInstruments",
        "parameters": [
          {
            "name": "instrument_id",
            "in": "query",
            "schema": {
              "maximum": 4294967295,
              "minimum": 0,
              "type": "integer",
              "description": "Instrument ID",
              "format": "int64"
            }
          },
          {
            "name": "instrument_type",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/InstrumentType"
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Category"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instruments response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PerpsGetInstruments200ResponseSchema"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        },
        "security": []
      }
    },
    "/perps/v1/info/tickers": {
      "get": {
        "summary": "Get Tickers",
        "description": "Get all instrument tickers with live market data.",
        "operationId": "PerpsGetTickers",
        "parameters": [
          {
            "name": "instrument_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tickers response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PerpsGetTickers200ResponseSchema"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        },
        "security": []
      }
    },
    "/perps/v1/info/statistics": {
      "get": {
        "summary": "Get Statistics",
        "description": "Get last 24-hour statistics for all instruments.",
        "operationId": "PerpsGetStatistics",
        "parameters": [
          {
            "name": "instrument_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Statistics response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PerpsGetStatistics200ResponseSchema"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        },
        "security": []
      }
    },
    "/perps/v1/info/klines": {
      "get": {
        "summary": "Get Klines",
        "description": "Get klines for an instrument.\nIf no end time is provided, the current time will be used.\nMaximum of 1000 entries returned per request.\n",
        "operationId": "PerpsGetKlines",
        "parameters": [
          {
            "name": "instrument_id",
            "in": "query",
            "required": true,
            "schema": {
              "maximum": 4294967295,
              "minimum": 0,
              "type": "integer",
              "description": "Instrument ID",
              "format": "int64"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Interval"
            }
          },
          {
            "name": "start_timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_timestamp",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Klines response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KlinesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        },
        "security": []
      }
    },
    "/perps/v1/info/mark-history": {
      "get": {
        "summary": "Get Mark Price History",
        "description": "Get mark price history for an instrument, bucketed by interval.\nIf no end time is provided, the current time will be used.\nMaximum of 1000 entries returned per request.\nOnly buckets with at least one mark update are included.\nFor intervals of a minute or coarser, a bucket cut mid-way by \u0060end_timestamp\u0060\nmay be omitted, or may reflect the window\u0027s last mark at one-minute fidelity.\n",
        "operationId": "PerpsGetMarkHistory",
        "parameters": [
          {
            "name": "instrument_id",
            "in": "query",
            "required": true,
            "schema": {
              "maximum": 4294967295,
              "minimum": 0,
              "type": "integer",
              "description": "Instrument ID",
              "format": "int64"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Interval"
            }
          },
          {
            "name": "start_timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_timestamp",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mark price history response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarkHistoryResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        },
        "security": []
      }
    },
    "/perps/v1/info/bbo": {
      "get": {
        "summary": "Get BBO",
        "description": "Get best bid and offer for all instruments.",
        "operationId": "PerpsGetBbo",
        "parameters": [
          {
            "name": "instrument_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "BBO response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PerpsGetBbo200ResponseSchema"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        },
        "security": []
      }
    },
    "/perps/v1/info/book": {
      "get": {
        "summary": "Get Book",
        "description": "Get book for an instrument.",
        "operationId": "PerpsGetBook",
        "parameters": [
          {
            "name": "instrument_id",
            "in": "query",
            "required": true,
            "schema": {
              "maximum": 4294967295,
              "minimum": 0,
              "type": "integer",
              "description": "Instrument ID",
              "format": "int64"
            }
          },
          {
            "name": "depth",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Depth"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Book response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Book"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        },
        "security": []
      }
    },
    "/perps/v1/info/index": {
      "get": {
        "summary": "Get Index",
        "description": "Get index price and the list of constituents for an asset.",
        "operationId": "PerpsGetIndex",
        "parameters": [
          {
            "name": "asset",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Index constituents response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Index"
                },
                "examples": {
                  "index": {
                    "summary": "Index constituents",
                    "value": {
                      "asset": "NVDA",
                      "index_price": "160.00",
                      "constituents": [
                        {
                          "source": "chainlink",
                          "symbol": "NVDA/USD",
                          "weight": "1.0",
                          "price": "160.00"
                        }
                      ],
                      "ts": 1767225600000
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        },
        "security": []
      }
    },
    "/perps/v1/info/trades": {
      "get": {
        "summary": "Get Recent Trades",
        "description": "Get public trades for an instrument.\nMaximum of 100 entries returned per request.\n",
        "operationId": "PerpsGetTrades",
        "parameters": [
          {
            "name": "instrument_id",
            "in": "query",
            "required": true,
            "schema": {
              "maximum": 4294967295,
              "minimum": 0,
              "type": "integer",
              "description": "Instrument ID",
              "format": "int64"
            }
          },
          {
            "name": "start_timestamp",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_timestamp",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Trades response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Trades"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        },
        "security": []
      }
    },
    "/perps/v1/info/portfolio": {
      "get": {
        "summary": "Get Public Portfolio",
        "description": "Get public portfolio for an address including equity and open positions.\n",
        "operationId": "PerpsGetPublicPortfolio",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Public portfolio response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicPortfolio"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        },
        "security": []
      }
    },
    "/perps/v1/info/position-fills": {
      "get": {
        "summary": "Get Current Position Fills",
        "description": "Get every fill in a registered account\u0027s current open position cycle for\none instrument. A cycle begins when the position opens from flat or flips\ndirection. For a flip, every fill from the flipping engine event belongs\nto the new cycle so a fill is never split between cycles.\n\nReturns an empty page when the account has no open position for the\ninstrument. Maximum of 100 entries returned per request. Results are\nordered by time; use \u0060sort\u0060 to choose newest-first (\u0060desc\u0060, default) or\noldest-first (\u0060asc\u0060). To page through more than 100 fills, pass the opaque\n\u0060cursor\u0060 returned by the previous page and keep \u0060sort\u0060 unchanged. Each page\nverifies that the cursor still describes the account\u0027s current position\ncycle. If that position changes while pagination is in progress, the\ncursor returns \u0060400\u0060 and pagination must restart from the first page.\n\nCycle discovery for a position inherited from a gateway snapshot is\nlimited to 250,000 account-history rows. A cycle older than that bound\nreturns \u0060413\u0060 rather than allowing a public request to run an unbounded\nClickHouse scan. Positions opened or flipped after gateway startup carry\ntheir cycle boundary directly and do not use this discovery scan.\n",
        "operationId": "PerpsGetPublicPositionFills",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instrument_id",
            "in": "query",
            "required": true,
            "schema": {
              "maximum": 4294967295,
              "minimum": 0,
              "type": "integer",
              "description": "Instrument ID",
              "format": "int64"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Sort"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current position fills response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountTrades"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "408": {
            "$ref": "#/components/responses/Error408Response"
          },
          "413": {
            "$ref": "#/components/responses/Error413Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        },
        "security": []
      }
    },
    "/perps/v1/info/funding": {
      "get": {
        "summary": "Get Historical Funding",
        "description": "Get public funding rate history for an instrument.\nMaximum of 100 entries returned per request.\n",
        "operationId": "PerpsGetFundingHistory",
        "parameters": [
          {
            "name": "instrument_id",
            "in": "query",
            "required": true,
            "schema": {
              "maximum": 4294967295,
              "minimum": 0,
              "type": "integer",
              "description": "Instrument ID",
              "format": "int64"
            }
          },
          {
            "name": "start_timestamp",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_timestamp",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Funding rate history response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FundingHistory"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        },
        "security": []
      }
    },
    "/perps/v1/info/fees": {
      "get": {
        "summary": "Get Fees",
        "description": "Get the fee tier schedule for each instrument type and category.",
        "operationId": "PerpsGetInfoFees",
        "responses": {
          "200": {
            "description": "Fee schedule response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeesInfo"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        },
        "security": []
      }
    },
    "/perps/v1/info/limit-tiers": {
      "get": {
        "summary": "Get Limit Tiers",
        "description": "Get the list of account limit tiers. Action and open-order fields are enforced per account; legacy request-rate fields are not used for gateway request enforcement.",
        "operationId": "PerpsGetLimitTiers",
        "responses": {
          "200": {
            "description": "Limit tiers response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PerpsGetLimitTiers200ResponseSchema"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        },
        "security": []
      }
    },
    "/perps/v1/info/invite": {
      "get": {
        "summary": "Check Invite Code",
        "description": "Check whether an invite code can be used. When \u0060address\u0060 is provided, the\nresponse is invalid if that address already has an account.\n",
        "operationId": "PerpsCheckInviteCode",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invite code validation response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InviteCheckResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        },
        "security": []
      }
    },
    "/perps/v1/trade/orders": {
      "post": {
        "summary": "Create Orders",
        "description": "Create new orders.\nRequires proxy signature, see [proxy signing](/http/signing#2-proxy-signing).\n",
        "operationId": "PerpsCreateOrders",
        "requestBody": {
          "description": "Order request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order ACK response. Order result should be fetched using the get orders endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PerpsCreateOrders200ResponseSchema"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        },
        "security": []
      },
      "delete": {
        "summary": "Cancel Orders",
        "description": "Cancel orders.\nRequires proxy signature, see [proxy signing](/http/signing#2-proxy-signing).\n",
        "operationId": "PerpsCancelOrders",
        "requestBody": {
          "description": "Cancel request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cancel response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PerpsCancelOrders200ResponseSchema"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        },
        "security": []
      },
      "patch": {
        "summary": "Modify Orders",
        "description": "Modify the price and total quantity of existing orders by exchange order ID.\nRequires proxy signature, see [proxy signing](/http/signing#2-proxy-signing).\n",
        "operationId": "PerpsModifyOrders",
        "requestBody": {
          "description": "Modify request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "One modify result per requested order, in request order.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PerpsModifyOrders200ResponseSchema"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BatchError400Response"
          },
          "404": {
            "$ref": "#/components/responses/BatchError404Response"
          },
          "429": {
            "$ref": "#/components/responses/BatchError429Response"
          },
          "500": {
            "$ref": "#/components/responses/BatchError500Response"
          }
        },
        "security": []
      }
    },
    "/perps/v1/trade/orders/all": {
      "delete": {
        "summary": "Cancel All Orders",
        "description": "Cancel all open orders for the authenticated account on one instrument.\nRequires proxy signature, see [proxy signing](/http/signing#2-proxy-signing).\n",
        "operationId": "PerpsCancelAllOrders",
        "requestBody": {
          "description": "Cancel all request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelAllRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cancel all accepted response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericAccepted"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        },
        "security": []
      }
    },
    "/perps/v1/trade/orders-coid": {
      "delete": {
        "summary": "Cancel Orders COID",
        "description": "Cancel orders by client order ID.\nRequires proxy signature, see [proxy signing](/http/signing#2-proxy-signing).\n",
        "operationId": "PerpsCancelOrdersByCoid",
        "requestBody": {
          "description": "Cancel by coid request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelByCoidRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cancel response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PerpsCancelOrdersByCoid200ResponseSchema"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        },
        "security": []
      },
      "patch": {
[...]
