{
  "openapi": "3.0.4",
  "info": {
    "title": "Merged OpenAPI",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://bridge.polymarket.com",
      "description": "Polymarket Bridge API"
    },
    {
      "url": "https://data-api.polymarket.com",
      "description": "Relative server (same host)"
    },
    {
      "url": "https://api.perpetuals.polymarket.com",
      "description": "Production Perps HTTP API"
    },
    {
      "url": "https://clob.polymarket.com",
      "description": "Production CLOB API"
    },
    {
      "url": "https://clob-staging.polymarket.com",
      "description": "Staging CLOB API"
    },
    {
      "url": "https://combos-rfq-api.polymarket.com",
      "description": "Production combinatorial RFQ API"
    },
    {
      "url": "https://gamma-api.polymarket.com",
      "description": "Polymarket Gamma API Production Server"
    },
    {
      "url": "https://relayer-v2.polymarket.com",
      "description": "Polymarket Relayer API"
    }
  ],
  "paths": {
    "/bridge/supported-assets": {
      "get": {
        "tags": [
          "Bridge"
        ],
        "summary": "Get supported assets",
        "operationId": "bridge_get_supported_assets",
        "responses": {
          "200": {
            "description": "Successfully retrieved supported assets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupportedAssetsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bridge/quote": {
      "post": {
        "tags": [
          "Bridge"
        ],
        "summary": "Get a quote",
        "operationId": "bridge_post_quote",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuoteRequest"
              },
              "example": {
                "fromAmountBaseUnit": "10000000",
                "fromChainId": "137",
                "fromTokenAddress": "0x3c499c542cEF5E3811e1192ce70d8cC03d5c3359",
                "recipientAddress": "0x17eC161f126e82A8ba337f4022d574DBEaFef575",
                "toChainId": "137",
                "toTokenAddress": "0xC011a7E12a19f7B1f670d46F03B03f3342E82DFB"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Quote retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteResponse"
                },
                "example": {
                  "estCheckoutTimeMs": 25000,
                  "estFeeBreakdown": {
                    "appFeeLabel": "Fun.xyz fee",
                    "appFeePercent": 0,
                    "appFeeUsd": 0,
                    "fillCostPercent": 0,
                    "fillCostUsd": 0,
                    "gasUsd": 0.003854,
                    "maxSlippage": 0,
                    "minReceived": 14.488305,
                    "swapImpact": 0,
                    "swapImpactUsd": 0,
                    "totalImpact": 0,
                    "totalImpactUsd": 0
                  },
                  "estInputUsd": 14.488305,
                  "estOutputUsd": 14.488305,
                  "estToTokenBaseUnit": "14491203",
                  "quoteId": "0x00c34ba467184b0146406d62b0e60aaa24ed52460bd456222b6155a0d9de0ad5"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Missing required field",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "missingFromAmount": {
                    "value": {
                      "error": "fromAmountBaseUnit is required"
                    }
                  },
                  "missingFromChainId": {
                    "value": {
                      "error": "fromChainId is required"
                    }
                  },
                  "missingFromTokenAddress": {
                    "value": {
                      "error": "fromTokenAddress is required"
                    }
                  },
                  "missingRecipientAddress": {
                    "value": {
                      "error": "recipientAddress is required"
                    }
                  },
                  "missingToChainId": {
                    "value": {
                      "error": "toChainId is required"
                    }
                  },
                  "missingToTokenAddress": {
                    "value": {
                      "error": "toTokenAddress is required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "cannot get quote"
                }
              }
            }
          }
        }
      }
    },
    "/bridge/deposit": {
      "post": {
        "tags": [
          "Bridge"
        ],
        "summary": "Create bridge addresses",
        "operationId": "bridge_post_deposit",
        "parameters": [
          {
            "$ref": "#/components/parameters/BuilderCodeHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DepositRequest"
              },
              "example": {
                "address": "0x56687bf447db6ffa42ffe2204a05edaa20f55839"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Bridge addresses created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepositResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid address, request body, or malformed X-Builder-Code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bridge/withdraw": {
      "post": {
        "tags": [
          "Bridge"
        ],
        "summary": "Create withdrawal addresses",
        "operationId": "bridge_post_withdraw",
        "parameters": [
          {
            "$ref": "#/components/parameters/BuilderCodeHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WithdrawalRequest"
              },
              "example": {
                "address": "0x9156dd10bea4c8d7e2d591b633d1694b1d764756",
                "toChainId": "1",
                "toTokenAddress": "0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48",
                "recipientAddr": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Withdrawal addresses created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepositResponse"
                },
                "example": {
                  "address": {
                    "evm": "0x23566f8b2E82aDfCf01846E54899d110e97AC053",
                    "svm": "CrvTBvzryYxBHbWu2TiQpcqD5M7Le7iBKzVmEj3f36Jb",
                    "btc": "bc1q8eau83qffxcj8ht4hsjdza3lha9r3egfqysj3g"
                  },
                  "note": "Send funds to these addresses to bridge to your destination chain and token."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid/missing parameters or malformed X-Builder-Code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bridge/status/{address}": {
      "get": {
        "tags": [
          "Bridge"
        ],
        "summary": "Get transaction status",
        "description": "Returns the deposits and withdrawals seen at a bridge address, newest first. Responses are cursor-paginated: each request returns one page plus a `nextCursor`. To read the full history, pass each `nextCursor` back as `cursor` until it comes back null. To track only recent activity, keep requesting the first page without a cursor.\n",
        "operationId": "bridge_get_status_address",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "description": "The bridge address to query for transaction status, taken from the `/deposit` or `/withdraw` response. EVM, Solana, Tron, and Bitcoin address formats are supported. EVM addresses are normalized before the request is forwarded upstream.\n",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "EXoZue2avJae1d45B3fVw2unhkrtToSYQqHtHgfZ2cbE"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of transactions per page. A page may contain fewer transactions than requested and still have a following page.\n",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "default": 50
            },
            "example": 100
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque continuation token returned as `nextCursor` by the previous response. Omit it to request the first page. URL-encode it, since cursors can contain characters such as `+`, `/`, and `=`. Invalid, tampered, or cross-address tokens return 400; restart the walk without a cursor when that happens.\n",
            "schema": {
              "type": "string"
            },
            "example": "eyJsYXN0SWQiOiI0MiJ9"
          },
          {
            "name": "paginate",
            "in": "query",
            "description": "Compatibility parameter forwarded upstream for existing integrations. Pagination applies whether or not it is sent, so new integrations should omit it and use `cursor` and `limit` alone. When sent, the only supported value is `true`.\n",
            "schema": {
              "enum": [
                "true"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved transaction status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionStatusResponse"
                },
                "example": {
                  "transactions": [
                    {
                      "fromChainId": "1151111081099710",
                      "fromTokenAddress": "11111111111111111111111111111111",
                      "fromAmountBaseUnit": "13566635",
                      "toChainId": "137",
                      "toTokenAddress": "0xC011a7E12a19f7B1f670d46F03B03f3342E82DFB",
                      "status": "DEPOSIT_DETECTED"
                    },
                    {
                      "fromChainId": "1151111081099710",
                      "fromTokenAddress": "11111111111111111111111111111111",
                      "fromAmountBaseUnit": "13400000",
                      "toChainId": "137",
                      "toTokenAddress": "0xC011a7E12a19f7B1f670d46F03B03f3342E82DFB",
                      "createdTimeMs": 1757646914535,
                      "status": "PROCESSING"
                    },
                    {
                      "fromChainId": "1151111081099710",
                      "fromTokenAddress": "11111111111111111111111111111111",
                      "fromAmountBaseUnit": "13500152",
                      "toChainId": "137",
                      "toTokenAddress": "0xC011a7E12a19f7B1f670d46F03B03f3342E82DFB",
                      "txHash": "3atr19NAiNCYt24RHM1WnzZp47RXskpTDzspJoCBBaMFwUB8fk37hFkxz35P5UEnnmWz21rb2t5wJ8pq3EE2XnxU",
                      "createdTimeMs": 1757531217339,
                      "status": "COMPLETED"
                    }
                  ],
                  "nextCursor": "eyJsYXN0SWQiOiI0MiJ9"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Missing or invalid address, limit, or cursor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "missingAddress": {
                    "value": {
                      "error": "address is required"
                    }
                  },
                  "invalidAddress": {
                    "value": {
                      "error": "invalid address"
                    }
                  },
                  "invalidLimit": {
                    "value": {
                      "error": "limit must be an integer between 1 and 100"
                    }
                  },
                  "rejectedUpstream": {
                    "summary": "Rejected by the bridge provider, most often a stale or malformed cursor",
                    "value": {
                      "error": "invalid request"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "cannot get transaction status"
                }
              }
            }
          }
        }
      }
    },
    "/data/": {
      "get": {
        "tags": [
          "Data API Status"
        ],
        "summary": "Data API Health check",
        "operationId": "data_getDataApiHealth",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/v1/accounting/snapshot": {
      "get": {
        "tags": [
          "Misc"
        ],
        "summary": "Download an accounting snapshot (ZIP of CSVs)",
        "operationId": "data_get_v1_accounting_snapshot",
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "description": "User address (0x-prefixed)",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/data_Address"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ZIP file containing `positions.csv` and `equity.csv`.",
            "content": {
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/v1/approvals": {
      "get": {
        "tags": [
          "Misc"
        ],
        "summary": "Get token approval state for a wallet",
        "description": "Reports whether a wallet has granted the token approvals Polymarket needs, so a client can prompt for the missing ones instead of reading each allowance onchain. Every tracked token and spender pair is returned, including pairs the wallet has never approved.",
        "operationId": "data_get_v1_approvals",
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "description": "User address (0x-prefixed)",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/data_Address"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/positions": {
      "get": {
        "tags": [
          "Core"
        ],
        "summary": "Get current positions for a user",
        "operationId": "data_get_positions",
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "description": "User address (required)",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/data_Address"
            }
          },
          {
            "name": "market",
            "in": "query",
            "description": "Comma-separated list of condition IDs. Mutually exclusive with eventId.",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Hash64"
              }
            }
          },
          {
            "name": "eventId",
            "in": "query",
            "description": "Comma-separated list of event IDs. Mutually exclusive with market.",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "minimum": 1,
                "type": "integer"
              }
            }
          },
          {
            "name": "sizeThreshold",
            "in": "query",
            "schema": {
              "minimum": 0,
              "type": "number",
              "default": 1
            }
          },
          {
            "name": "redeemable",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "mergeable",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeArchived",
            "in": "query",
            "description": "Include positions in archived markets that are still active. Archived positions are excluded by default.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "maximum": 500,
              "minimum": 0,
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "maximum": 10000,
              "minimum": 0,
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "schema": {
              "enum": [
                "CURRENT",
                "INITIAL",
                "TOKENS",
                "CASHPNL",
                "PERCENTPNL",
                "TITLE",
                "RESOLVING",
                "PRICE",
                "AVGPRICE"
              ],
              "type": "string",
              "default": "TOKENS"
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "schema": {
              "enum": [
                "ASC",
                "DESC"
              ],
              "type": "string",
              "default": "DESC"
            }
          },
          {
            "name": "title",
            "in": "query",
            "schema": {
              "maxLength": 100,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Position"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/trades": {
      "get": {
        "tags": [
          "Core"
        ],
        "summary": "Get trades for a user or markets",
        "operationId": "data_get_trades",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Page size. Values above the maximum are clamped to 10000.",
            "schema": {
              "maximum": 10000,
              "minimum": 0,
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Starting index for pagination. Requests past the cap are rejected with a 400 (never silently clamped). To read history deeper than offset 10000, page inside `start`/`end` windows — each window has its own offset budget.",
            "schema": {
              "maximum": 10000,
              "minimum": 0,
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "takerOnly",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "filterType",
            "in": "query",
            "description": "Must be provided together with filterAmount.",
            "schema": {
              "enum": [
                "CASH",
                "TOKENS"
              ],
              "type": "string"
            }
          },
          {
            "name": "filterAmount",
            "in": "query",
            "description": "Must be provided together with filterType.",
            "schema": {
              "minimum": 0,
              "type": "number"
            }
          },
          {
            "name": "market",
            "in": "query",
            "description": "Comma-separated list of condition IDs. Mutually exclusive with eventId.",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Hash64"
              }
            }
          },
          {
            "name": "eventId",
            "in": "query",
            "description": "Comma-separated list of event IDs. Mutually exclusive with market.",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "minimum": 1,
                "type": "integer"
              }
            }
          },
          {
            "name": "user",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/data_Address"
            }
          },
          {
            "name": "side",
            "in": "query",
            "schema": {
              "enum": [
                "BUY",
                "SELL"
              ],
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Lower-bound timestamp (epoch seconds) for the trade window. Omit or pass `0` for the default window (most recent ~3 years); pass a positive epoch (e.g. `1`) to retrieve full history on user-scoped requests. Market/event-scoped requests keep the ~3-year floor — `start` can only narrow their window, not extend it.",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "Upper-bound timestamp (epoch seconds) for the trade window. Omit for the default (current time); rows newer than `end` are excluded.",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Trade"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/activity": {
      "get": {
        "tags": [
          "Core"
        ],
        "summary": "Get user activity",
        "operationId": "data_get_activity",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Page size. Values above the maximum are clamped to 500.",
            "schema": {
              "maximum": 500,
              "minimum": 0,
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Starting index for pagination. Requests past the cap are rejected with a 400 (never silently clamped). To read history deeper than offset 5000, page inside `start`/`end` windows — each window has its own offset budget.",
            "schema": {
              "maximum": 5000,
              "minimum": 0,
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "user",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/data_Address"
            }
          },
          {
            "name": "market",
            "in": "query",
            "description": "Comma-separated list of condition IDs. Mutually exclusive with eventId.",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Hash64"
              }
            }
          },
          {
            "name": "eventId",
            "in": "query",
            "description": "Comma-separated list of event IDs. Mutually exclusive with market.",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "minimum": 1,
                "type": "integer"
              }
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Comma-separated list of activity types to include. DEPOSIT and WITHDRAWAL records also require `excludeDepositsWithdrawals=false`.",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "TRADE",
                  "SPLIT",
                  "MERGE",
                  "REDEEM",
                  "REWARD",
                  "CONVERSION",
                  "DEPOSIT",
                  "WITHDRAWAL",
                  "YIELD",
                  "MAKER_REBATE",
                  "TAKER_REBATE",
                  "REFERRAL_REWARD"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "excludeDepositsWithdrawals",
            "in": "query",
            "description": "Excludes deposit and withdrawal records. The default `true` applies even when `type` requests those records, so to get deposits and withdrawals you must pass `false`.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Lower-bound timestamp (epoch seconds) for the activity window. Omit or pass `0` for the default window (most recent ~3 years); pass a positive epoch (e.g. `1`) to retrieve full history. With `sortDirection=ASC`, omitting `start` already reads from the beginning of the account's history (no default window).",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "Upper-bound timestamp (epoch seconds) for the activity window. Omit for the default (current time); rows newer than `end` are excluded.",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "schema": {
              "enum": [
                "TIMESTAMP",
                "TOKENS",
                "CASH"
              ],
              "type": "string",
              "default": "TIMESTAMP"
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "`DESC` (default) returns the newest rows first; `ASC` the oldest first. Both orders are stable — the same query returns the same rows at any `limit`/`offset`, so pages compose without gaps or repeats.",
            "schema": {
              "enum": [
                "ASC",
                "DESC"
              ],
              "type": "string",
              "default": "DESC"
            }
          },
          {
            "name": "side",
            "in": "query",
            "schema": {
              "enum": [
                "BUY",
                "SELL"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Activity"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/v1/activity/combos": {
      "get": {
        "tags": [
          "Core"
        ],
        "summary": "Get user combo activity",
        "description": "Combo lifecycle and redeem events (split / merge / convert / compress / wrap / unwrap / redeem) for a user, with per-leg breakdown. The combo counterpart to /activity trade rows. Also available at /v1/data/user/{address}/activity/combos (address from the path).",
        "operationId": "data_get_v1_activity_combos",
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/data_Address"
            }
          },
          {
            "name": "market_id",
            "in": "query",
            "description": "Comma-separated combo_condition_id values to filter to specific combos. These equal the market_id of isCombo rows on /activity. Omit for all of the user's combo activity.",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ComboConditionId"
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "maximum": 500,
              "minimum": 0,
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "maximum": 10000,
              "minimum": 0,
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque continuation token from a previous response's pagination.next_cursor. When present it supersedes offset (which is ignored). Invalid, tampered, or cross-endpoint tokens return 400.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CombosActivityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/v1/positions/combos": {
      "get": {
        "tags": [
          "Core"
        ],
        "summary": "Get user combo positions",
        "description": "Combinatorial (multi-market) positions held by a user, with per-leg breakdown. Also available at /v1/data/user/{address}/positions/combos (address from the path). Open positions with shares_balance below 0.001 are omitted (dust floor — e.g. sub-0.001 remainders left by \"sell all\" cashouts); resolved positions are served regardless of balance.",
        "operationId": "data_get_v1_positions_combos",
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/data_Address"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "One or more statuses, comma-separated (e.g. status=RESOLVED_WIN,RESOLVED_PARTIAL,RESOLVED_LOSS). Values are case-insensitive; any invalid member is a 400. Omit for the default listing (open positions plus resolved positions with a recorded resolution).",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "OPEN",
                  "PARTIAL",
                  "RESOLVED_PARTIAL",
                  "RESOLVED_WIN",
                  "RESOLVED_LOSS"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "enum": [
                "current_value_desc",
                "first_entry_desc",
                "entry_cost_desc",
                "resolved_at_desc",
                "updated_asc"
              ],
              "type": "string",
              "default": "current_value_desc"
            }
          },
          {
            "name": "market_id",
            "in": "query",
            "description": "Comma-separated combo_condition_id values to filter to specific combos. These equal the market_id of isCombo rows on /activity. Omit for all of the user's combos.",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ComboConditionId"
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "maximum": 1000,
              "minimum": 0,
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "maximum": 100000,
              "minimum": 0,
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "updatedAfter",
            "in": "query",
            "description": "Incremental-sync watermark (epoch seconds, inclusive): only rows whose updated_at is at or after this time. Positions mutate on resolution and redemption, so this catches changes a creation-time filter cannot. In sync mode (updatedAfter/updatedBefore/sort=updated_asc) every live row is returned regardless of balance, and the effective upper bound is clamped ~90s behind now (commit-visibility safety lag) — very recent rows appear on the next poll. Rows at the boundary may re-deliver: upsert by (combo_condition_id, combo_position_id).",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "updatedBefore",
            "in": "query",
            "description": "Optional upper bound (epoch seconds, inclusive) for updated_at; clamped to the safety lag. Must be >= updatedAfter.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque continuation token from a previous response's pagination.next_cursor. When present it supersedes offset (which is ignored). Invalid, tampered, or cross-endpoint tokens return 400.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CombosResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/holders": {
      "get": {
        "tags": [
          "Core"
        ],
        "summary": "Get top holders for markets",
        "operationId": "data_get_holders",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of holders to return per token. Capped at 20.",
            "schema": {
              "maximum": 20,
              "minimum": 0,
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "market",
            "in": "query",
            "description": "Comma-separated list of condition IDs.",
            "required": true,
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Hash64"
              }
            }
          },
          {
            "name": "minBalance",
            "in": "query",
            "schema": {
              "maximum": 999999,
              "minimum": 0,
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MetaHolder"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/traded": {
      "get": {
        "tags": [
          "Misc"
        ],
        "summary": "Get total markets a user has traded",
        "operationId": "data_get_traded",
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/data_Address"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Traded"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/revisions": {
      "get": {
        "tags": [
          "Misc"
        ],
        "summary": "Get moderated revisions for a question",
        "operationId": "data_get_revisions",
        "parameters": [
          {
            "name": "questionID",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Hash64"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "maximum": 500,
              "minimum": 0,
              "type": "integer",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RevisionPayload"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_ErrorResponse"
                }
              }
            }
          }
        },
        "x-excluded": true
      }
    },
    "/data/value": {
      "get": {
        "tags": [
          "Core"
        ],
        "summary": "Get total value of a user's positions",
        "operationId": "data_get_value",
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/data_Address"
            }
          },
          {
            "name": "market",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Hash64"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Value"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/oi": {
      "get": {
        "tags": [
          "Misc"
        ],
        "summary": "Get open interest",
        "operationId": "data_get_oi",
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Hash64"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OpenInterest"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/live-volume": {
      "get": {
        "tags": [
          "Misc"
        ],
        "summary": "Get live volume for an event",
        "operationId": "data_get_live_volume",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LiveVolume"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/closed-positions": {
      "get": {
        "tags": [
          "Core"
        ],
        "summary": "Get closed positions for a user",
        "operationId": "data_get_closed_positions",
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "description": "The address of the user in question",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/data_Address"
            }
          },
          {
            "name": "market",
            "in": "query",
            "description": "The conditionId of the market in question. Supports multiple csv separated values. Cannot be used with the eventId param.",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Hash64"
              }
            }
          },
          {
            "name": "title",
            "in": "query",
            "description": "Filter by market title",
            "schema": {
              "maxLength": 100,
              "type": "string"
            }
          },
          {
            "name": "eventId",
            "in": "query",
            "description": "The event id of the event in question. Supports multiple csv separated values. Returns positions for all markets for those event ids. Cannot be used with the market param.",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "minimum": 1,
                "type": "integer"
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The max number of positions to return",
            "schema": {
              "maximum": 50,
              "minimum": 0,
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The starting index for pagination",
            "schema": {
              "maximum": 100000,
              "minimum": 0,
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "The sort criteria",
            "schema": {
              "enum": [
                "REALIZEDPNL",
                "TITLE",
                "PRICE",
                "AVGPRICE",
                "TIMESTAMP"
              ],
              "type": "string",
              "default": "REALIZEDPNL"
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "The sort direction",
            "schema": {
              "enum": [
                "ASC",
                "DESC"
              ],
              "type": "string",
              "default": "DESC"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClosedPosition"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/other": {
      "get": {
        "tags": [
          "Misc"
        ],
        "summary": "Get \"Other\" size for an augmented neg risk event and user",
        "operationId": "data_get_other",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "user",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/data_Address"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OtherSize"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_ErrorResponse"
                }
              }
            }
          }
        },
        "x-excluded": true
      }
    },
    "/data/v1/market-positions": {
      "get": {
        "tags": [
          "Core"
        ],
        "summary": "Get positions for a market",
        "operationId": "data_get_v1_market_positions",
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "description": "The condition ID of the market to query positions for",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Hash64"
            }
          },
          {
            "name": "user",
            "in": "query",
            "description": "Filter to a single user by proxy wallet address",
            "schema": {
              "$ref": "#/components/schemas/data_Address"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter positions by status.\n- `OPEN` — Only positions with size > 0.01\n- `CLOSED` — Only positions with size <= 0.01\n- `ALL` — All positions regardless of size\n",
            "schema": {
              "enum": [
                "OPEN",
                "CLOSED",
                "ALL"
              ],
              "type": "string",
              "default": "ALL"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sort positions by:\n- `TOKENS` — Position size (number of tokens)\n- `CASH_PNL` — Unrealized cash PnL\n- `REALIZED_PNL` — Realized PnL\n- `TOTAL_PNL` — Total PnL (cash_pnl + realized_pnl)\n",
            "schema": {
              "enum": [
                "TOKENS",
                "CASH_PNL",
                "REALIZED_PNL",
                "TOTAL_PNL"
              ],
              "type": "string",
              "default": "TOTAL_PNL"
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "schema": {
              "enum": [
                "ASC",
                "DESC"
              ],
              "type": "string",
              "default": "DESC"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max number of positions to return per outcome token",
            "schema": {
              "maximum": 500,
              "minimum": 0,
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset per outcome token",
            "schema": {
              "maximum": 10000,
              "minimum": 0,
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MetaMarketPositionV1"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/v1/builders/leaderboard": {
      "get": {
        "tags": [
          "Builders"
        ],
        "summary": "Get aggregated builder leaderboard",
        "operationId": "data_get_v1_builders_leaderboard",
        "parameters": [
          {
            "name": "timePeriod",
            "in": "query",
            "description": "The time period to aggregate results over.\n",
            "schema": {
              "enum": [
                "DAY",
                "WEEK",
                "MONTH",
                "ALL"
              ],
              "type": "string",
              "default": "DAY"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of builders to return",
            "schema": {
              "maximum": 50,
              "minimum": 0,
              "type": "integer",
              "default": 25
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Starting index for pagination",
            "schema": {
              "maximum": 1000,
              "minimum": 0,
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LeaderboardEntry"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/v1/builders/volume": {
      "get": {
        "tags": [
          "Builders"
        ],
        "summary": "Get daily builder volume time-series",
        "operationId": "data_get_v1_builders_volume",
        "parameters": [
          {
            "name": "timePeriod",
            "in": "query",
            "description": "The time period to fetch daily records for.\n",
            "schema": {
              "enum": [
                "DAY",
                "WEEK",
                "MONTH",
                "ALL"
              ],
              "type": "string",
              "default": "DAY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success - Returns array of daily volume records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BuilderVolumeEntry"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/v1/leaderboard": {
      "get": {
        "tags": [
          "Core"
        ],
        "summary": "Get trader leaderboard rankings",
        "operationId": "data_get_v1_leaderboard",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "description": "Market category for the leaderboard",
            "schema": {
              "enum": [
                "OVERALL",
                "POLITICS",
                "SPORTS",
                "ESPORTS",
                "CRYPTO",
                "CULTURE",
                "MENTIONS",
                "WEATHER",
                "ECONOMICS",
                "TECH",
                "FINANCE"
              ],
              "type": "string",
              "default": "OVERALL"
            }
          },
          {
            "name": "timePeriod",
            "in": "query",
            "description": "Time period for leaderboard results",
            "schema": {
              "enum": [
                "DAY",
                "WEEK",
                "MONTH",
                "ALL"
              ],
              "type": "string",
              "default": "DAY"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Leaderboard ordering criteria",
            "schema": {
              "enum": [
                "PNL",
                "VOL"
              ],
              "type": "string",
              "default": "PNL"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max number of leaderboard traders to return",
            "schema": {
              "maximum": 50,
              "minimum": 1,
              "type": "integer",
              "default": 25
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Starting index for pagination",
            "schema": {
              "maximum": 1000,
              "minimum": 0,
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "user",
            "in": "query",
            "description": "Limit leaderboard to a single user by address",
            "schema": {
              "$ref": "#/components/schemas/data_Address"
            }
          },
          {
            "name": "userName",
            "in": "query",
            "description": "Limit leaderboard to a single username",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TraderLeaderboardEntry"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/perps/v1/info/ping": {
      "get": {
        "summary": "Test Connection",
        "description": "Test connection to the server.\n",
        "operationId": "perps_getPing",
        "responses": {
          "200": {
            "description": "Successful ping response.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "status"
                  ],
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        },
        "security": [ ],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **1**</Badge>"
        }
      }
    },
    "/perps/v1/info/time": {
      "get": {
        "summary": "Get Server Time",
        "description": "Get server time.\n",
        "operationId": "perps_getTime",
        "responses": {
          "200": {
            "description": "Successful time response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Time"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        },
        "security": [ ],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **1**</Badge>"
        }
      }
    },
    "/perps/v1/info/exchange": {
      "get": {
        "summary": "Get Exchange Info",
        "description": "Get exchange information.\n",
        "operationId": "perps_getExchange",
        "responses": {
          "200": {
            "description": "Successful exchange information response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Exchange"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        },
        "security": [ ],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **2**</Badge>"
        }
      }
    },
    "/perps/v1/info/assets": {
      "get": {
        "summary": "Get Collateral Assets",
        "description": "Get a list of collateral assets.\n",
        "operationId": "perps_getAssets",
        "responses": {
          "200": {
            "description": "Assets response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Asset"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        },
        "security": [ ],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **2**</Badge>"
        }
      }
    },
    "/perps/v1/info/instruments": {
      "get": {
        "summary": "Get Instruments",
        "description": "Get all instruments.",
        "operationId": "perps_getInstruments",
        "parameters": [
          {
            "name": "instrument_id",
            "in": "query",
            "schema": {
              "maximum": 4294967295,
              "minimum": 0,
              "type": "integer",
              "description": "Instrument ID",
              "format": "int64"
            }
          },
          {
            "name": "instrument_type",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/instrument_type"
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/category"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instruments response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Instrument"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        },
        "security": [ ],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **2**</Badge>"
        }
      }
    },
    "/perps/v1/info/tickers": {
      "get": {
        "summary": "Get Tickers",
        "description": "Get all instrument tickers with live market data.",
        "operationId": "perps_getTickers",
        "parameters": [
          {
            "name": "instrument_id",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/instrument_id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tickers response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Ticker"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        },
        "security": [ ],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **2**</Badge>"
        }
      }
    },
    "/perps/v1/info/statistics": {
      "get": {
        "summary": "Get Statistics",
        "description": "Get last 24-hour statistics for all instruments.",
        "operationId": "perps_getStatistics",
        "parameters": [
          {
            "name": "instrument_id",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/instrument_id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Statistics response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Statistic"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        },
        "security": [ ],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **2**</Badge>"
        }
      }
    },
    "/perps/v1/info/klines": {
      "get": {
        "summary": "Get Klines",
        "description": "Get klines for an instrument.\nIf no end time is provided, the current time will be used.\nMaximum of 1000 entries returned per request.\n",
        "operationId": "perps_getKlines",
        "parameters": [
          {
            "name": "instrument_id",
            "in": "query",
            "required": true,
            "schema": {
              "maximum": 4294967295,
              "minimum": 0,
              "type": "integer",
              "description": "Instrument ID",
              "format": "int64"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/interval"
            }
          },
          {
            "name": "start_timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/start_timestamp"
            }
          },
          {
            "name": "end_timestamp",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/end_timestamp"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Klines response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KlinesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        },
        "security": [ ],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **5**</Badge>"
        }
      }
    },
    "/perps/v1/info/mark-history": {
      "get": {
        "summary": "Get Mark Price History",
        "description": "Get mark price history for an instrument, bucketed by interval.\nIf no end time is provided, the current time will be used.\nMaximum of 1000 entries returned per request.\nOnly buckets with at least one mark update are included.\nFor intervals of a minute or coarser, a bucket cut mid-way by `end_timestamp`\nmay be omitted, or may reflect the window's last mark at one-minute fidelity.\n",
        "operationId": "perps_getMarkHistory",
        "parameters": [
          {
            "name": "instrument_id",
            "in": "query",
            "required": true,
            "schema": {
              "maximum": 4294967295,
              "minimum": 0,
              "type": "integer",
              "description": "Instrument ID",
              "format": "int64"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/interval"
            }
          },
          {
            "name": "start_timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/start_timestamp"
            }
          },
          {
            "name": "end_timestamp",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/end_timestamp"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mark price history response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarkHistoryResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        },
        "security": [ ],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **5**</Badge>\n<br/>\n<Badge color=\"gray\" size=\"md\">Cached for 2s. A request served from cache costs **1**</Badge>\n"
        }
      }
    },
    "/perps/v1/info/bbo": {
      "get": {
        "summary": "Get BBO",
        "description": "Get best bid and offer for all instruments.",
        "operationId": "perps_getBBO",
        "parameters": [
          {
            "name": "instrument_id",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/instrument_id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "BBO response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BBO"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        },
        "security": [ ],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **2**</Badge>"
        }
      }
    },
    "/perps/v1/info/book": {
      "get": {
        "summary": "Get Book",
        "description": "Get book for an instrument.",
        "operationId": "perps_getBook",
        "parameters": [
          {
            "name": "instrument_id",
            "in": "query",
            "required": true,
            "schema": {
              "maximum": 4294967295,
              "minimum": 0,
              "type": "integer",
              "description": "Instrument ID",
              "format": "int64"
            }
          },
          {
            "name": "depth",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/depth"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Book response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Book"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        },
        "security": [ ],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight:</Badge>\n<br/>\n<Badge color=\"gray\" size=\"md\">Depth 10: **2**</Badge>\n<br/>\n<Badge color=\"gray\" size=\"md\">Depth 100: **5**</Badge>\n<br/>\n<Badge color=\"gray\" size=\"md\">Depth 500: **10**</Badge>\n<br/>\n<Badge color=\"gray\" size=\"md\">Depth 1000: **20**</Badge>\n"
        }
      }
    },
    "/perps/v1/info/index": {
      "get": {
        "summary": "Get Index",
        "description": "Get index price and the list of constituents for an asset.",
        "operationId": "perps_getIndex",
        "parameters": [
          {
            "name": "asset",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/asset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Index constituents response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Index"
                },
                "examples": {
                  "index": {
                    "summary": "Index constituents",
                    "value": {
                      "asset": "NVDA",
                      "index_price": "160.00",
                      "constituents": [
                        {
                          "source": "chainlink",
                          "symbol": "NVDA/USD",
                          "weight": "1.0",
                          "price": "160.00"
                        }
                      ],
                      "ts": 1767225600000
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        },
        "security": [ ],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **2**</Badge>"
        }
      }
    },
    "/perps/v1/info/trades": {
      "get": {
        "summary": "Get Recent Trades",
        "description": "Get public trades for an instrument.\nMaximum of 100 entries returned per request.\n",
        "operationId": "perps_getTrades",
        "parameters": [
          {
            "name": "instrument_id",
            "in": "query",
            "required": true,
            "schema": {
              "maximum": 4294967295,
              "minimum": 0,
              "type": "integer",
              "description": "Instrument ID",
              "format": "int64"
            }
          },
          {
            "name": "start_timestamp",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/start_timestamp"
            }
          },
          {
            "name": "end_timestamp",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/end_timestamp"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Trades response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Trades"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        },
        "security": [ ],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **10**</Badge>"
        }
      }
    },
    "/perps/v1/info/portfolio": {
      "get": {
        "summary": "Get Public Portfolio",
        "description": "Get public portfolio for an address including equity and open positions.\n",
        "operationId": "perps_getPublicPortfolio",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/address"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Public portfolio response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicPortfolio"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        },
        "security": [ ],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **5**</Badge>"
        }
      }
    },
    "/perps/v1/info/position-fills": {
      "get": {
        "summary": "Get Current Position Fills",
        "description": "Get every fill in a registered account's current open position cycle for\none instrument. A cycle begins when the position opens from flat or flips\ndirection. For a flip, every fill from the flipping engine event belongs\nto the new cycle so a fill is never split between cycles.\n\nReturns an empty page when the account has no open position for the\ninstrument. Maximum of 100 entries returned per request. Results are\nordered by time; use `sort` to choose newest-first (`desc`, default) or\noldest-first (`asc`). To page through more than 100 fills, pass the opaque\n`cursor` returned by the previous page and keep `sort` unchanged. Each page\nverifies that the cursor still describes the account's current position\ncycle. If that position changes while pagination is in progress, the\ncursor returns `400` and pagination must restart from the first page.\n\nCycle discovery for a position inherited from a gateway snapshot is\nlimited to 250,000 account-history rows. A cycle older than that bound\nreturns `413` rather than allowing a public request to run an unbounded\nClickHouse scan. Positions opened or flipped after gateway startup carry\ntheir cycle boundary directly and do not use this discovery scan.\n",
        "operationId": "perps_getPublicPositionFills",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/address"
            }
          },
          {
            "name": "instrument_id",
            "in": "query",
            "required": true,
            "schema": {
              "maximum": 4294967295,
              "minimum": 0,
              "type": "integer",
              "description": "Instrument ID",
              "format": "int64"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/fills_cursor"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/sort"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current position fills response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountTrades"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "408": {
            "$ref": "#/components/responses/Error408Response"
          },
          "413": {
            "$ref": "#/components/responses/Error413Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        },
        "security": [ ],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **10**</Badge>\n<br/>\n<Badge color=\"gray\" size=\"md\">Cached 2s — a request served from cache costs **1**</Badge>"
        }
      }
    },
    "/perps/v1/info/funding": {
      "get": {
        "summary": "Get Historical Funding",
        "description": "Get public funding rate history for an instrument.\nMaximum of 100 entries returned per request.\n",
        "operationId": "perps_getFundingHistory",
        "parameters": [
          {
            "name": "instrument_id",
            "in": "query",
            "required": true,
            "schema": {
              "maximum": 4294967295,
              "minimum": 0,
              "type": "integer",
              "description": "Instrument ID",
              "format": "int64"
            }
          },
          {
            "name": "start_timestamp",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/start_timestamp"
            }
          },
          {
            "name": "end_timestamp",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/end_timestamp"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Funding rate history response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FundingHistory"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        },
        "security": [ ],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **10**</Badge>"
        }
      }
    },
    "/perps/v1/info/fees": {
      "get": {
        "summary": "Get Fees",
        "description": "Get the fee tier schedule for each instrument type and category.",
        "operationId": "perps_getInfoFees",
        "responses": {
          "200": {
            "description": "Fee schedule response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeesInfo"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        },
        "security": [ ],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **2**</Badge>"
        }
      }
    },
    "/perps/v1/info/limit-tiers": {
      "get": {
        "summary": "Get Limit Tiers",
        "description": "Get the list of account limit tiers. Action and open-order fields are enforced per account; legacy request-rate fields are not used for gateway request enforcement.",
        "operationId": "perps_getLimitTiers",
        "responses": {
          "200": {
            "description": "Limit tiers response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LimitTier"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        },
        "security": [ ],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **2**</Badge>"
        }
      }
    },
    "/perps/v1/info/invite": {
      "get": {
        "summary": "Check Invite Code",
        "description": "Check whether an invite code can be used. When `address` is provided, the\nresponse is invalid if that address already has an account.\n",
        "operationId": "perps_checkInviteCode",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/code"
            }
          },
          {
            "name": "address",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/address"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invite code validation response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InviteCheckResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        },
        "security": [ ],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **1**</Badge>"
        }
      }
    },
[...]
